<section class="intro" id="intro">

    <div class="container" onclick="openNav(this)" id="menuButton">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>


    <div class="wrapper">
        <div class="parablock">
            <p class="paratext paratext-top">
                My name is Hayden. I live in Boulder, Colorado and am a product development intern at <a href="https://f5.com/" class="intro-link hide lasp-link arrow-open">F5</a>.<br/> In my words, I am a <a class="intro-link hide design-link arrow-open">engineer and a creative</a>.
            </p>

            <p class="paratext">
                I enjoy rock climbing, writing code, and the occasional Harry Potter binge. I find inspiration in <a class="intro-link hide min-link arrow-open">minimalism</a>, <a class="intro-link hide userex-link arrow-open">user experience<a/>, <a class="intro-link hide fashion-link">fashion</a>, and my addiction of <a class="intro-link hide sneaker-link">sneakers<a/>.
            </p>
        </div>
        <div class="image-holder"></div>
    </div>



    <link rel="prefetch" href="assets/img/gucci1.jpg" />
    <link rel="prefetch" href="assets/img/sneaker4.gif" />
    <link rel="prefetch" href="assets/img/insta.gif" />
    <link rel="prefetch" href="assets/img/lasp.gif" />
    <link rel="prefetch" href="assets/img/lasp1.gif" />
    <link rel="prefetch" href="assets/img/design.gif" />

</section>
